
<% if current_user.picture? %>
    <%= image_tag(current_user.picture, size: "50x50", alt: current_user.name)  %>
<% else %>
    <%= gravatar_for current_user, size: 50 %>
<% end %>

<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>